.form-container{
    background-color: slategray;
}

.form-container label{
    color: rgb(60, 130, 192, .2);
    font-size: 36px;
    text-shadow: 1px 1px 1px black;
}

.form-container button{
    background-color: rgb(60, 130, 192, .2);
}

.form-container form:invalid  button{
    background-color: rgb(60, 130, 192, .2);
}
